@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


:root{
    --color-primary: #d4e9e2;
    --color-secondary: #ffc519;
    --color-light-green: #00754a;
    --color-light-yellow: #fff4d4;
    --color-other: #1e3932;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000;
}

a{
    color: #000;
}

ul{
    list-style: none;
}

p{
    margin: 5px 0px;
    line-height: 1.7;
}

img{
    max-width: 100%;
}

.navbar{
    width: 100%;
    height: auto;
    padding: 22px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0 0 0 / 10%), 0 2px 2px rgba(0 0 0 / 6%), 0 0 2px rgba(0 0 0 / 7%) ;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar img{
    width: 50px;
    height: 50px;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar li{
    margin: 0px 15px;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.navbar a:hover{
    color: var(--color-primary);
}

.navbar-nav-left{
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
}


.navbar-nav-right img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.navbar-nav-right li:first-child a{
    display: flex;
    align-items: center;
}

.navbar-nav-right li:nth-child(2) {
    /* margin: 0px 5px; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 5px;
}

/* Box */
.box{
    /* margin-bottom: 20px; */
    margin: 30px 0px;
    /* padding-bottom: 20px; */
}

.box-inner{
    max-width: 83%;
    margin: 0 auto;    
    padding: 0px 25px;
}

.grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* gap: 2rem; */
}

.grid-reversed:first-child{
    order:2;
}

.box .btn{
    margin-top: 15px;
}

.box-a h2{
    color: var(--color-other);
    font-weight: 800;
    line-height: 1.7;
}


.box-a p{
    color: var(--color-other);
    font-weight: 600;
    line-height: 1.7;
}

.box-b h2{
    color: var(--color-other);
    font-weight: 600;
    line-height: 1.1;


}

.box-b p{
    color: #1b322c;
    line-height: 1.5;
    font-weight: 600;
    padding: 0px 10px;

}

.box-c h2{
    color: var(--color-other);
    font-weight: 600;
    line-height: 1.1;
}

.box-c p{
    color: #1b322c;
    line-height: 1.5;
    font-weight: 600;
}

.box-d h2{
    color: var(--color-other);
    font-weight: 800;
    line-height: 1.7;
    margin-top: 20px;
}

.box-d p{
    color: var(--color-other);
    font-weight: 600;
    line-height: 1.7;
}

.box-d .btn{
    margin-bottom: 25px;
}

.box-b img{
    order: 2;
}

.box-d img{
    order: 2;
}

/* Buttons */
.btn{
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    padding: 7px 16px;
    border-radius: 50px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    transition: all .2s ease;
}

.btn-dark-outline{
    background-color: none;
    color: rgb(33 36 35);
    font-size: 1rem;
 }

.btn-light-outline{
    border: #fff;
    color: #fff;
}

.btn-dark-outline:hover{
    background-color: rgba(0, 0, 0, 0.06);
}

.btn-dark{
    background-color: #000;
    color: #fff;
}

.btn-dark:hover{
    background-color: #333;
}


/* Divider */
.divider{
    width: 100%;
    height: 1px;
    box-shadow: 0px 1px 3px rgba(0 0 0 / 20%), 0 4px 4px rgba(0 0 0 / 6%), 0 0 4px rgba(0 0 0 / 10%) ;
}

/* Footer menu */
.footer-menu-container{
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
}

.footer-menu-list{
    width: 90%;
}

.footer-menu-list h3{
    opacity: .9;
    margin-left: 10px;
}

.footer-list-items{
    margin-top: 40px;
    width: 20%;
    padding: 0px 10px;
}

.footer-list-items li{
    margin: 25px 0px;
    width: 260%;
}


.footer-list-items a{
    text-decoration: none;
    opacity: 0.8;
    width: 260%;
    display: block;
}

.footer-list-items a:hover{
    opacity: 1;
}

/* Mobile Footer List menu */
.mobile-list-items{
    display: flex;
    justify-content: space-between;
    padding: 18px 20px;
}

.mobile-list-items button{
    cursor: pointer;
    background: none;
    border: none;
}

.mobile-list-items button:hover{
    transition: all .2s ease-out;
    fill: transparent;
    transform: scale(.4);
    transform-origin: center;
    opacity: .5;
}

.mobile-list-items h2{
    font-size: 13px;
    font-weight: 400;
}

.mobile-menu-list:nth-child(1){
    padding-top: 15px;    
}

.mobile-menu-list:nth-child(5){
    padding-bottom: 25px;    
}

.mobile-list-items svg{
    opacity: 1;
}

/* .mobile-list-items button: */

.rotate-svg-up{
    top: 15px;
    right: 10px;
    transform: rotate(180deg);
    transition: transform 300ms;
}

.rotate-svg-down{
    top: 15px;
    right: 10px;
    transform: rotate(0deg);
    transition: transform 300ms;
}

.b svg {
   transform: rotate(0deg); 
}

/* footer */
.footer-container{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
}

.social img{
    width: 30px;
    height: 30px;
    margin: 30px 7px 10px 7px;
}

.social a{
    text-decoration: none;
}

.social a:hover{
    transition: all .2s ease-out;
    fill: transparent;
    transform: scale(.4);
    transform-origin: center;
    opacity: .5;
}

.copyright{
    max-width: 1440px;
    margin: 0 auto;
    opacity: 0.7;
}

.footer-nav .footer-nav-list{
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 1.5fr 1fr 1fr;
    width: 95%;
}

.footer-nav-list{
    margin: 20px 0px;
}
.footer-nav a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

.footer-nav li a:hover{
    text-decoration: underline;
}

.footer-nav-list li{
     text-align: center;
}

.footer-nav-list li span{
    padding-right:20px;
}


/* Mobile Footer nav */
.mobile-footer-nav{
    display: none;
}

.mobile-footer-nav-list{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 

}

.mobile-footer-nav-list li{
    margin: 10px 20px;
}

.mobile-footer-nav-list li a{
    text-decoration: none;
    font-size: 14px;
}

.mobile-footer-nav-list li a:hover{
    text-decoration: underline;
}

/* Utility Classes */

    /* Background Colors */
.bg-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.bg-light-yellow {
    background-color: var(--color-light-yellow);
    color: #fff;
}

    /* Text Styles */
.text-center{
    text-align: center;
}

.text-xl{
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    font-weight: 600;
}

.text-lg{
    font-size: 40px;
    margin-bottom: 20px;
}

.text-md{
    font-size: 24px;
    margin-bottom: 20px;
}

.text-sm{
    font-size: 20px;
    /* margin-bottom: 20px; */
}

    /* Padding */
.py-lg{
    padding: 40px 0px;
}

.py-md{
    padding: 20px 0px;
}

.py-sm{
    padding: 10px 0px;
}

.hamburgur{
    height: 25px;
    width: 25px;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    margin-right: 5px;
    margin-top: 10px;
    transition: all 0.25s ease;
    z-index: 10;
    display: none;
}

.hamburgur-top,
.hamburgur-mid,
.hamburgur-bottom{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 24px;
    height: 2px;
    transform: rotate(0);
    transition: all 0.2s ease;
}

.hamburgur-mid{
    transform: translateY(7px);
}

.hamburgur-bottom{
    transform: translateY(14px);
}

/* Harmurger Menu */
.open .hamburgur-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburgur-mid{
    display: none;
}

.open .hamburgur-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */
.mobile-menu{
    position: fixed;
    background: #fff;
    top: 65px;
    right: 0;
    height: 100%;
    width: 90%;
    color: #000;
    padding: 30px;
    box-shadow: 0px 1px 3px rgba(0 0 0 / 10%), 0 2px 2px rgba(0 0 0 / 6%), 0 0 2px rgba(0 0 0 / 7%) ;
    transition: all 0.3s;
   
}

.mobile-menu ul{
    line-height: 3;
    border-bottom: #777 solid 1px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.mobile-menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.mobile-menu a:hover{
    color: var(--color-light-green);
}

.mobile-menu div a{
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;
}

.mobile-menu img{
    height: 17px;
    width: 17px;
    margin-right:5px;
}

.hidden{
    transform: translateX(100%);
}

.no-scroll{
    overflow: hidden;
}

button a{
    text-decoration: none;
}

/* Tablet Responsiveness */
@media  (max-width: 960px){
    .text-xl{
        font-size: 34px;
    }

    .text-lg{
        font-size: 25px;
    }

    .text-md{
        font-size: 20px;
    }
    .text-sm{
        font-size: 16px;
    }
}

@media (min-width: 1440px){
    .box, .footer-menu-container{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .text-xl{
        font-size: 28px;
        letter-spacing: 1px;
        font-weight: bold;
        margin-top: 20px;
    }
    .box-inner{
        padding: 0px 6px;
        max-width: 97%;
    }
    .hamburgur{
        display: block;
    }
    .grid-col-2{
        grid-template-columns: 1fr;
    }
    .grid-reversed:first-child{
        order: 0;
    }
    .box-b .btn{
        margin-bottom: 30px;
    }
    .box-c .btn{
        margin-bottom: 30px;
    }
    .box h2{
        padding-top: 20px;
    }
    .box-b img{
        order: 0;
    }
    .box-d img{
        order: 0;
    }
    .navbar{
        padding: 10px;
    }
    .navbar-logo img{
        width: 40px;
        height: 40px;
    }
    .navbar-container .navbar-nav-left,.navbar-container .navbar-nav-right{
        display: none;
    }
    .footer-menu-container{
        display: none;
    }
    .footer-container{
    margin: 0px 0px;
    }
    .copyright{
        margin-left: 20px;
        font-size: 12px;
    }
    .footer-nav{
        display: none;
    }
    .mobile-footer-nav{
        display: block;
    }  
}






